<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cheezburger ASP.NET Starter Kit</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
